.inventoryButton {
  font-size: xx-large;
  border: 1px solid black;
  width: 25%;
  user-select: none;
  background-color: gray;
  color: whitesmoke;
}
.playerPic {
  display: flex;
  max-width: 50px;
  height: auto;
}

.inventoryBox {
  height: 500px;
}

.inventoryOpen {
  width: 400px;
}
.topBar {
  display: flex;
  flex-direction: row;
}
.bottomBar {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.item {
  max-width: 20vw;
  height: 20vw;
}

.shopkeeper {
  max-width: 20vw;
  height: auto;
  border-radius: 30px;
}

#shopkeeper {
  display: flex;
  flex-direction: row;
}
#pitch {
  color: red;
  font-size: larger;
  background-color: antiquewhite;
  height: 30px;
  border-radius: 10px;
}

body {
  background-image: url(https://i.pinimg.com/736x/af/55/66/af5566e6f5651b58cb2656b5d98aafdb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
